.question-block{

}
.name-block-h1.question{
  margin-top: .5em;
}
.name-block-h3.question{
  max-width: none !important;
  line-height: 30px;
}
.name-block-p.question{
  max-width: none !important;
  margin: 0em .5em 0em .5em;
  text-align: justify;
}
