body{
  margin: 0;
  padding: 0;
  font-family: fantasy;
  background-color: #eee !important;
}
hr{
  font-weight: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid black !important;
}
.headerText{
  font-size: 100px !important;
}
.quoteBoxStructure{
  font-size: 25px;
  margin-left: 225px !important;
  margin-right: 225px !important;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px !important;
  /*border: 10px solid #333;
  border-radius: 25px;*/
}

#fadeIn{
  margin-top: 15vh;
}
#quoteBox{
  font-family: sans-serif !important;
  font-style: italic !important;
}
